ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body,
html {
  min-height: 100vh;
  margin: 0;
  font-family: PingFangSC-Regular, PingFang SC;
}
a {
  text-decoration: none;
  color: #fff;
}
.boxBackground {
  background: #000000;
}
.contentBox {
  width: 1152px;
  /* overflow: hidden; */
  margin: 0 auto;
}
.flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_1 {
  flex: 1;
}
#root .ant-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.ant-input:focus,
.ant-input-focused {
  box-shadow: none;
}
/* 全局样式 */
.mt_24 {
  margin-top: 24px;
}
.mb_24 {
  margin-bottom: 24px;
}
.p_24 {
  padding: 0 24px;
}
.mt_16 {
  margin-top: 16px;
}
.mb_16 {
  margin-bottom: 16px;
}
.mt_8 {
  margin-top: 8px;
}
.mb_8 {
  margin-bottom: 8px;
}
.borderRadious_4 {
  border-radius: 4px;
}
:root {
  --brightRed: #ff1213;
  --brightOrange: #ff872e;
  --brightBlue: #177aff;
  --brightGreen: #0ee56c;
  --lightGray: #f7f7f7;
  --mediumGray: #f2f2f2;
  --darkGray: #d9d9d9;
  --white: #ffffff;
  --disabled: #bfbfbf;
  --minor: #8c8c8c;
  --text: #595959;
  --title: #262626;
  --stress: #000000;
}
.tabCategory .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.tabCategory .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.tabCategory .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.tabCategory
  .ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-submenu-active,
.tabCategory .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.tabCategory .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.tabCategory .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.tabCategory
  .ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-submenu-selected {
  color: var(--brightRed);
  border-bottom: 2px solid var(--brightRed);
}

.setbackground {
  background: #fff;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  flex: 1;
}
.changeProject {
  display: flex;
  align-items: center;
  color: #8c8c8c;
  font-size: 16px;
  cursor: pointer;
}

.h2Title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
  color: #000;
}
.secondTitle {
  font-size: 16px;
  color: var(--title);
  margin-bottom: 16px;
}

/* 黑色标题 */
.editTitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--title);
  margin-bottom: 16px;
}
.ope {
  display: flex;
  flex-direction: row;
}
.ope span {
  margin-right: 8px;
    cursor: pointer;
    color: var(--text);
}